<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    
    <div class="card">
    <div class="card-header">
        <h1 >WORD COUNT</h1>
    </div>
    <div class="card-body">
        <h5>본문을 입력하세요.</h5>
        <a href="{% url 'about' %}" class="btn btn-primary">ABOUT</a>
        <p></p>
        <form action="{% url 'count' %}">
        <textarea cols="40" rows="10" name="fulltext"></textarea>
        <p></p>
        <input type="submit"  value="Count!" class="btn btn-primary"/>
    </form>
    </div>
    </div>
</body>